<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Main Page </title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header class="header">
        <div class="logo">
          <img src="/static/logo.png" alt="Logo">
        </div>
        <nav class="tabs">
            <a href="/">Home</a>
            <a href="/add_section">Add Section</a>
            <a href="/add_section_time">Add Section time</a>
            <a href="/sections_by_semester"> Sections by Semesters</a>
          </nav>
    </header>
    <hr class="line">
<h2>Departments</h2>
<form action="/departments" method="GET">
    <label for="department-id">Enter Department ID:</label>
    <input type="number" id="department-id" name="department-id">
    <input type="submit" value="Submit">
</form>
<div class="containers">
    <div class="container-header" onclick="toggleContainer('department-info')">Department Information &#9660;</div>
    <div class="container-content" id="department-info-container">
        <ul>
            <li><strong>Department Name:</strong> {{ department["Department_Name"] }}</li>
            <li><strong>Department Email:</strong> {{ department["Department_Email"] }}</li>
            <li><strong>Faculty:</strong> {{ department["Faculty"] }}</li>
            <li><strong>Extension:</strong> {{ department["Extension"] }}</li>
            <li><strong>Accreditation Status:</strong> {{ department["Accreditation_Status"] }}</li>
            <li><strong>Chairperson Name:</strong> {{ department["Chairperson_Name"] }}</li>
        </ul>
    </div>
</div>

<div class="containers">
    <div class="container-header" onclick="toggleContainer('majors')">Majors Offered &#9660;</div>
    <div class="container-content" id="majors-container">
        <ul>
            {% for major in majors %}
            <li>{{ major }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="containers">
    <div class="container-header" onclick="toggleContainer('courses')">Courses Offered &#9660;</div>
    <div class="container-content" id="courses-container">
        <ul>
            {% for course in courses %}
            <li>
                <strong>Course ID:</strong> {{ course["Course_ID"] }}<br>
                <strong>Course Name:</strong> {{ course["Course_Name"] }}<br>
                <strong>Course Description:</strong> {{ course["Course_Description"] }}<br>
                <strong>Credit Hours:</strong> {{ course["Credit_Hours"] }}<br>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

</body>
<script>
function toggleContainer(containerId) {
    var container = document.getElementById(containerId + '-container');
    container.classList.toggle('show');
}
</script>
</html>