<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Main Page </title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header class="header">
        <div class="logo">
          <img src="/static/logo.png" alt="Logo">
        </div>
        <nav class="tabs">
            <a href="/">Home</a>
            <a href="/add_section">Add Section</a>
            <a href="/add_section_time">Add Section time</a>
            <a href="/sections_by_semester"> Sections by Semesters</a>
          </nav>
    </header>
    <hr class="line">
    <h2> Students </h2> 
    <form action="/students" method="GET">
        <label for="student-id">Enter Student ID:</label>
        <input type="text" id="student-id" name="student-id">
        <input type="submit" value="Submit">
    </form>
    <div class="containers">
        <div class="container-header" onclick="toggleContainer('schedule')">Student Schedule &#9660;</div>
        <div class="container-content" id="schedule-container">
            <table id="table">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                    </tr>
                </thead>
                <tbody>
                    {% for timeSlot in timeSlots %}
                    <tr>
                        <td>{{ timeSlot }}</td>
                        <td>
                            {% for entries in scheduleData %}
                                {% if entries["Day"] == 'Monday' %}
                                        {% if entries["startTime"] == timeSlot %}
                                            {{ entries["sectionName"] }} 
                                        {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for entries in scheduleData %}
                                {% if entries["Day"] == 'Tuesday' %}
                                        {% if entries["startTime"] == timeSlot %}
                                            {{ entries["sectionName"] }}
                                        {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for entries in scheduleData %}
                                {% if entries["Day"] == 'Wednesday' %}
                                        {% if entries["startTime"] == timeSlot %}
                                            {{ entries["sectionName"] }} 
                                        {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for entries in scheduleData %}
                                {% if entries["Day"] == 'Thursday' %}
                                        {% if entries["startTime"] == timeSlot %}
                                            {{ entries["sectionName"] }} 
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for entries in scheduleData %}
                                {% if entries["Day"] == 'Friday' %}
                                        {% if entries["startTime"] == timeSlot %}
                                            {{ entries["sectionName"] }} 
                                        {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody> 
            </table>           
        </div>
    </div>

    <div class="containers">
        <div class="container-header" onclick="toggleContainer('transcript')">Student Transcript &#9660;</div>
        <div class="container-content" id="transcript-container">
            <table id="table">
                <thead>
                    <tr>
                        <th>Course Name</th>
                        <th>Grade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in transcriptData %}
                    <tr>
                        <td>{{ course["CourseName"] }}</td>
                        <td>{{ course["Grade"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="containers">
        <div class="container-header" onclick="toggleContainer('clubs')">Student Clubs &#9660;</div>
        <div class="container-content" id="clubs-container">
                <h3>Student Clubs</h3>
                <ul id="clubs-list">
                    {% for club in clubs %}
                        <li>{{ club["Name"] }} - Meeting Location: {{ club["MeetingLocation"] }}</li>
                    {% endfor %}
                </ul>            
        </div>
    </div>
    <div class="containers">
        <div class="container-header" onclick="toggleContainer('info')">Student Information &#9660;</div>
        <div class="container-content" id="info-container">
                <h3>Student Information</h3>
                <ul>
                    <li><strong>First Name:</strong> {{ information_data['First_Name'] }}</li>
                    <li><strong>Last Name:</strong> {{ information_data['Last_Name'] }}</li>
                    <li><strong>Major:</strong> {{ information_data['Major_Name'] }}</li>
                    <li><strong>Email:</strong> {{ information_data['Email'] }}</li>
                    <li><strong>GPA:</strong> {{ information_data['GPA'] }}</li>
                    <li><strong>Date of Birth:</strong> {{ information_data['Date_of_Birth'] }}</li>
                </ul>          
        </div>
    </div>
</body>
<script>
    function toggleContainer(containerId) {
        var container = document.getElementById(containerId + '-container');
        container.classList.toggle('show');
    }
</script>
</html>

