<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Operation successful </title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header class="header">
        <div class="logo">
          <img src="/static/logo.png" alt="Logo">
        </div>
        <nav class="tabs">
            <a href="/">Home</a>
            <a href="/add_section">Add Section</a>
            <a href="/add_section_time">Add Section time</a>
            <a href="/sections_by_semester"> Sections by Semesters</a>
          </nav>
    </header>
    <hr class="line">
    <h2> Success </h2> 
    <div class="success">
        <p>{{ message }}</p>
        <a href="/">Return to Home</a>
    </div>
</body>
</html>
